//addons
@import 'var';

//align
.center{text-align: center;}
.bl{display: block;}

//link
a, a:hover, a:visited{
    color: $blue;
    text-decoration: none;
}

a:hover{
    color: $dblue;
    text-decoration: underline;
}

//font
.bold{font-weight: bold;}

//font-size
.s13{font-size: 13px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s22{font-size: 22px;}
.s26{font-size: 26px;}
.s28{font-size: 28px;}

//margin
.ml20{margin-left: 20px;}

.center{text-align: center;}

//color
.fblack{color: $black;}
.fwhite{color: $white;}
.fred{color: $red;}
.fblue{color: $blue;}
.fgreen{color: $green;}
.fpurple{color: $purple;}