@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

#cont{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

    #cont .left,
    #cont .right{
        width: 50%;
        height: 100%;
        text-align: center;
        float: left;
        
    }

    #cont .left{
        background-color: #292929;
        color: white;
    }
    

    #cont .right{
        background-color: white;
    }

    
.center{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar{
    height: 200px;
    border-radius: 100%;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}