@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600&display=swap");
#box {
  background-color: cyan;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.block-title {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 25px;
}

.line {
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 30%;
  background-color: #525252;
  opacity: .4;
  margin-top: 100px;
  margin-bottom: 100px;
}

#about {
  background-color: yellow;
  padding: 10px;
  margin-top: 150px;
  height: auto;
}

.about-left {
  background-color: pink;
  text-align: center;
  width: 250px;
  float: left;
}

.about-left-img {
  height: 200px;
  width: 100%;
}

.about-left-img img {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  -webkit-box-shadow: 2px 2px 5px #525252;
          box-shadow: 2px 2px 5px #525252;
}

.about-left-text {
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.about-left-text span {
  font-weight: 900;
  font-size: 30px;
}

.about-right {
  background-color: chartreuse;
  width: calc(100% - 250px);
  min-height: 100%;
  float: right;
}

.about-right-title {
  background-color: Coral;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.about-right-text {
  background-color: DarkOrchid;
  text-align: justify;
  height: 100%;
  padding: 30px;
}

#projects {
  background-color: DarkKhaki;
}

.projects-title {
  text-align: center;
}

.projects-item {
  background-color: Olive;
  width: 100%;
  height: 250px;
  clear: both;
  margin-top: 100px;
}

.item-img {
  background-color: Orchid;
  height: 100%;
  width: 250px;
  float: left;
}

.item-text {
  background-color: Peru;
  height: 100%;
  width: calc(100% - 250px);
  float: left;
}

#contact {
  background-color: DarkOrange;
  margin-bottom: 20px;
  height: auto;
  text-align: center;
}

.contact-box {
  background-color: Fuchsia;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.contact-title {
  height: 50px;
  line-height: 50px;
}

.contact-item {
  background-color: GoldenRod;
  height: 70px;
  width: 150px;
  float: left;
}

.contact-item-icon img {
  height: 40px;
}

#credits {
  background-color: Khaki;
  margin-bottom: 170px;
  text-align: center;
  font-size: 12px;
}
