@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600&display=swap");
#box {
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.block-title {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 25px;
}

.line {
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 30%;
  background-color: #525252;
  opacity: .4;
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin {
  margin: 100px 0px;
}

#about {
  padding: 10px;
  margin-top: 150px;
  height: auto;
}

.about-left {
  text-align: center;
  width: 250px;
  float: left;
}

.about-left-img {
  height: 200px;
  width: 100%;
}

.about-left-img img {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  -webkit-box-shadow: 2px 2px 5px #525252;
          box-shadow: 2px 2px 5px #525252;
}

.about-left-text {
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.about-left-text span {
  font-weight: 900;
  font-size: 30px;
}

.about-right {
  width: calc(100% - 250px);
  min-height: 100%;
  float: right;
}

.about-right-title {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.about-right-text {
  text-align: justify;
  height: 100%;
  padding: 30px;
}

.projects-title {
  text-align: center;
}

.item-img {
  text-align: center;
  width: 250px;
  float: left;
}

.item-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.item-text {
  width: calc(100% - 250px);
  min-height: 100%;
  float: left;
}

.item-text-title {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}

.item-text-title-left {
  text-align: left;
  padding-left: 10px;
}

.item-text-title-right {
  text-align: right;
  padding-right: 10px;
}

.item-text-desc {
  text-align: justify;
  height: 100%;
  padding: 10px;
}

#contact {
  margin-bottom: 20px;
  height: auto;
  text-align: center;
}

.contact-box {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.contact-title {
  height: 50px;
  line-height: 50px;
}

.contact-item {
  height: 70px;
  width: 150px;
  float: left;
}

.contact-item-icon img {
  height: 40px;
}

#credits {
  margin-bottom: 170px;
  text-align: center;
  font-size: 12px;
}
